body {
    /* background-image: url("/Landing/joshua-ness--bEZ_OfWu3Y-unsplash.jpg");
    background-size: cover; */
    background-color: rgb(166,217,210);
}

#landing {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.login-form {
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 5%;
}

.landing-component {
    position: relative;
    top: 50px;
}

.mentorapp {
    color: white;
}

.brand-slogan {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    position: relative;
    bottom: 50px;
}