<%- include ('../partials/header') %>

<link rel="stylesheet" href="/css/landing.css">

</head>

<%- include ('../partials/navbar') %>

<img id="landing" src="/Landing/joshua-ness--bEZ_OfWu3Y-unsplash.jpg">


<%- include ('../partials/footer') %>

</body>
</html>