<%- include ('../partials/header') %>

<link rel="stylesheet" href="/css/landing.css">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

</head>

<%- include ('../partials/navbar')%>
<!-- <nav class="navbar navbar-light">
    <span class="navbar-brand mb-0 h1 mentorapp">Mentorapp</span>
     <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> 
  </nav> -->

<div class="container landing-component">
    <div class="row">
        <div class="col-6">
            <p class="brand-slogan">Make connections. Build relationships. Grow your career</p>    
        </div>
      
    </div>
    <div class="row">

        <div class="col-6">
            <img id="landing" src="/Landing/SeekPng.com_social-networking-png_8011940.png">
        </div>

        <div class="col-6">

            <div class="login-form">
               <div class="container">
                <form method="POST" action="/mentorapp/user/login">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" class="login-email" id="email" name="email" />
                    </div>
            
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" class="login-password" id="password" name="password" />
                    </div>
            
                    <button type="submit" class="btn btn-special-green btn-block login" id="login">Login</button>
                </form>
               </div>

            
                </div>
                <p>Don't have an account? <a href="/mentorapp/user/register">Register</a></p>
                
            </div>


               
        
            
        </div>

    </div>




<%- include ('../partials/footer') %>

</body>
</html>